<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/3bcbcfd75d.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Slider</title>
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="container-logo">
                <img :src="logo" alt="logo cloud task">
                <h1>To do List</h1>
            </div>
            <div class="container-input">
                <!-- aggiungiamo v-model per collegare newTask del nostro data di vue per dare un valore al input -->
                <input type="text" id="task"   v-model="input" name="task" placeholder="Nuova task" @keyup.enter="addTask">
                <!-- al click del botone devo aggiungere newTask alla lista di task -->
                <button @click="addTask">Aggiungi</button>
            </div>
            <div class="container-list">
                <ul>
                    <li v-for="(task, index) in tasks" :key="index">
                        <span :class="[task.done ? 'testo-barrato' : '']" @click="toggleDone(index)">
                            {{task.text}}
                        </span>
                        <!-- aggiungiamo un evento che ci permetta di cancellare task -->
                        <i @click="removeTask(index)" class="fa-solid fa-xmark"></i>
                    </li>
                </ul>
            </div>
        </div>

        <script src="main.js"></script>
</body>

</html>